{% extends "layout.html" %}

{% block content %}

<div class = "row">
    <div class="col-lg-8">
            <div name="map" class="map" id="map-canvas"></div>
    </div>
    
    <div name="sidebar" class="col-lg-4 sidebar">
        <div name="selectors" class="selectors">
	        <ul class="selectorsList">
	        	<li >	
		            <label class="selectorsLabel" for="Hotel">Hotels</label>
		            <select id="hotelSelect" class="dropDown" name="Hotels">
		                {% for hotel in hotels %}
		                     <option  value="{{ hotel.name }}">{{ hotel.name }}</option> 
		                {% endfor %}
		            </select>
		            <button type="button" class="btn btn-default selectorButton" id="hotelButton">+</button>
		        </li>
		        <li>
		            <label class="selectorsLabel" for="Restaurant">Restaurants</label>
		            <select class="dropDown" name="Restaurant">
		                {% for restaurant in restaurants %}
		                     <option value="{{ restaurant.name }}">{{ restaurant.name }}</option> 
		                {% endfor %}
		            </select>
		            <button type="button" class="btn btn-default selectorButton" id="restButton">+</button>
		        </li>
		        <li>
		            <label class="selectorsLabel" for="Things To Do">Things To Do</label>
		            <select class="dropDown" name="Things To Do">
		                {% for thing in things %}
		                     <option value="{{ thing.name }}">{{ thing.name }}</option> 
		                {% endfor %}
		            </select>
		            <button type="button" class="btn btn-default selectorButton" id="thingButton">+</button>
		        </li>
	        </ul>    
        </div>
        <h3>Day 1{{ day }}</h3>
        <div name="current" class="selectors">
        	<div class="btn-group daySelector" role="group" aria-label="...">
 				<button type="button" class="btn btn-default">1</button>
 				<!-- <button type="button" class="btn btn-default">2</button> -->
 				<!-- <button type="button" class="btn btn-default">3</button> -->
 				<button type="button" class="btn btn-default">+</button>
			</div>
<!--             <div name="daySelector" class="daySelector">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>+</button>
            </div> -->
            <ul class="currentList">
	            <li id="hotelList" class="list-group-item">
	            	<h4 class="list-group-item-heading">My Hotel</h4>
<!-- 	            	<p class="list-group-item-text inline">Temporary Item</p>
	            	<button type="button" class="btn btn-default">-</button> -->
	            </li>
	            <li class="list-group-item">
	            	<h4 class="list-group-item-heading">My Restaurants</h4>
	            	<!-- <p class="list-group-item-text inline">Temporary Item</p>
	            	<button type="button" class="btn btn-default">-</button> -->
	            </li>
	            <li class="list-group-item">
	            	<h4 class="list-group-item-heading">My Things To Do</h4>
	            	<!-- <p class="list-group-item-text inline">Temporary Item</p> -->
	            	<!-- <button type="button" class="btn btn-default">-</button> -->
	            </li>
	        </ul>
        </div>
    </div>
</div>

<!-- 
    <h3>{{title}}</h3>
    <hr>
    <label for="Hotel">Hotels</label>
    <select name="Hotels">
    	{% for hotel in hotels %}
    		 <option value="value1">{{ hotel.name }}</option> 
    	{% endfor %}
	</select>
	<label for="Restaurant">Restaurants</label>
	<select name="Restaurant">
    	{% for restaurant in restaurants %}
    		 <option value="value1">{{ restaurant.name }}</option> 
    	{% endfor %}
	</select>
	<label for="Things To Do">Things To Do</label>
	<select name="Things To Do">
    	{% for thing in things %}
    		 <option value="value1">{{ thing.name }}</option> 
    	{% endfor %}
	</select>
 -->

<!--     <ul class="list-unstyled">
    	{% for hotel in hotels %}
    		<li>{{ hotel.name }}</li>
    	{% endfor %}
    </ul>
    <ul class="list-unstyled">
    	{% for restaurant in restaurants %}
    		<li>{{ restaurant.name }}</li>
    	{% endfor %}
    </ul>
    <ul class="list-unstyled">
    	{% for thing in things %}
    		<li>{{ thing.name }}</li>
    	{% endfor %}
    </ul> -->
{% endblock %}