* {
  box-sizing: border-box; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.sidebar {
  background: #70C1B3; }

.selectors {
  background: #FFEFC9;
  padding: 10px; }

.selectorsList {
  list-style-type: none;
  margin: 0 10px;
  padding: 0; }

.selectorsLabel {
  display: block;
  margin: 10px; }

@media (min-width: 0px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%;
    padding: 15px; }
  .col-sm-2 {
    float: left;
    width: 16.66667%;
    padding: 15px; }
  .col-sm-3 {
    float: left;
    width: 25%;
    padding: 15px; }
  .col-sm-4 {
    float: left;
    width: 33.33333%;
    padding: 15px; }
  .col-sm-5 {
    float: left;
    width: 41.66667%;
    padding: 15px; }
  .col-sm-6 {
    float: left;
    width: 50%;
    padding: 15px; }
  .col-sm-7 {
    float: left;
    width: 58.33333%;
    padding: 15px; }
  .col-sm-8 {
    float: left;
    width: 66.66667%;
    padding: 15px; }
  .col-sm-9 {
    float: left;
    width: 75%;
    padding: 15px; }
  .col-sm-10 {
    float: left;
    width: 83.33333%;
    padding: 15px; }
  .col-sm-11 {
    float: left;
    width: 91.66667%;
    padding: 15px; }
  .col-sm-12 {
    float: left;
    width: 100%;
    padding: 15px; } }

@media (min-width: 480px) {
  .col-md-1 {
    float: left;
    width: 8.33333%;
    padding: 15px; }
  .col-md-2 {
    float: left;
    width: 16.66667%;
    padding: 15px; }
  .col-md-3 {
    float: left;
    width: 25%;
    padding: 15px; }
  .col-md-4 {
    float: left;
    width: 33.33333%;
    padding: 15px; }
  .col-md-5 {
    float: left;
    width: 41.66667%;
    padding: 15px; }
  .col-md-6 {
    float: left;
    width: 50%;
    padding: 15px; }
  .col-md-7 {
    float: left;
    width: 58.33333%;
    padding: 15px; }
  .col-md-8 {
    float: left;
    width: 66.66667%;
    padding: 15px; }
  .col-md-9 {
    float: left;
    width: 75%;
    padding: 15px; }
  .col-md-10 {
    float: left;
    width: 83.33333%;
    padding: 15px; }
  .col-md-11 {
    float: left;
    width: 91.66667%;
    padding: 15px; }
  .col-md-12 {
    float: left;
    width: 100%;
    padding: 15px; } }

@media (min-width: 960px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%;
    padding: 15px; }
  .col-lg-2 {
    float: left;
    width: 16.66667%;
    padding: 15px; }
  .col-lg-3 {
    float: left;
    width: 25%;
    padding: 15px; }
  .col-lg-4 {
    float: left;
    width: 33.33333%;
    padding: 15px; }
  .col-lg-5 {
    float: left;
    width: 41.66667%;
    padding: 15px; }
  .col-lg-6 {
    float: left;
    width: 50%;
    padding: 15px; }
  .col-lg-7 {
    float: left;
    width: 58.33333%;
    padding: 15px; }
  .col-lg-8 {
    float: left;
    width: 66.66667%;
    padding: 15px; }
  .col-lg-9 {
    float: left;
    width: 75%;
    padding: 15px; }
  .col-lg-10 {
    float: left;
    width: 83.33333%;
    padding: 15px; }
  .col-lg-11 {
    float: left;
    width: 91.66667%;
    padding: 15px; }
  .col-lg-12 {
    float: left;
    width: 100%;
    padding: 15px; } }
