* {
	box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #50514F;
	h3 {
		color: white;
		font-weight: bold;
		text-align: center;
	}
}

a {
  color: #00B7FF;
}



.map {
	height: 100vh;

}

.sidebar {
	// background: #2B96C4;
	background: #28464B;
	border-radius: 5px;
}

.selectors {
	background: #326771;
	padding: 15px;
	border-radius: 5px;
}

.selectorsList {
	list-style-type: none;
	margin: 10px auto 15px 15px;
	padding: 0;
}

.selectorsLabel {
	display: block;
	margin: 10px auto;
	color: white;
	font-size: 20px
}

.dropDown {
	width: 80%;
	height: 34px;
}

.daySelector {
	margin: 10px;
}

.currentList {
	list-style-type: none;
	padding: 0;
}

.inline {
	display: inline;
}



@media (min-width: 0px) {
 @for $i from 1 through 12 {
     .col-sm-#{$i} {
         float: left;
         width: percentage($i/12);
         padding: 15px;
     }
 }
}
 
@media (min-width: 480px) {  
 @for $i from 1 through 12 {
     .col-md-#{$i} {
         float: left;
         width: percentage($i/12);
         padding: 15px;
     }
 }
}

@media (min-width: 960px) {
   @for $i from 1 through 12 {
     .col-lg-#{$i} {
         float: left;
         width: percentage($i/12);
         padding: 15px;
     }
 }
}

