* {
	box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.map {

}

.sidebar {
	background: #70C1B3
}

.selectors {
	background: #FFEFC9;
	padding: 10px;
}

.selectorsList {
	list-style-type: none;
	margin: 0 10px;
	padding: 0;
}

.selectorsLabel {
	display: block;
	margin: 10px;
}

.hotels {

}

@media (min-width: 0px) {
 @for $i from 1 through 12 {
     .col-sm-#{$i} {
         float: left;
         width: percentage($i/12);
         padding: 15px;
     }
 }
}
 
@media (min-width: 480px) {  
 @for $i from 1 through 12 {
     .col-md-#{$i} {
         float: left;
         width: percentage($i/12);
         padding: 15px;
     }
 }
}

@media (min-width: 960px) {
   @for $i from 1 through 12 {
     .col-lg-#{$i} {
         float: left;
         width: percentage($i/12);
         padding: 15px;
     }
 }
}

